@import url(http://weloveiconfonts.com/api/?family=entypo);

*, *:before, *:after {
    margin: 0;
    padding: 0;
    /*-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;*/
}
#gal {
    position: absolute;
    width: 100%;
    height: 50%;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    background: white;
    transform: translate(-15%, -55%);
    overflow: hidden;

}
#gal ul {
    /*list-style-type: none;*/
}
input[type="radio"] {
    position: absolute;
    left: 0;
    display: block;
    width: 40px;
    height: 25%;
    /*border: 0;
    outline: none;*/
    cursor: pointer;
    opacity: 0;
    z-index: 9;
}
input[value="one"] {
    top: 0;
}
input[value="two"] {
    top: 25%;
}
input[value="three"] {
    top: 50%;
}
input[value="four"] {
    top: 75%;
}
input[type="radio"] + label {
    position: absolute;
    left: 0;
    width: 40px;
    height: 25%;
    background: #333;
    z-index: 7;
    -webkit-transition: left .1s, width .1s;
    -moz-transition: left .1s, width .1s;
    -ms-transition: left .1s, width .1s;
    -o-transition: left .1s, width .1s;
    transition: left .1s, width .1s;
}
input[value="one"] + label {
    top: 0;
}
input[value="two"] + label {
    top: 25%;
}
input[value="three"] + label {
    top: 50%;
}
input[value="four"] + label {
    top: 75%;
}
[class*="entypo-"]:before {
    position: absolute;
    font-family: 'entypo', sans-serif;
}
label[class*="entypo-"]:before {
    top: 25px;
    left: 15px;
    font-size: 1.5rem;
    color: white;
}
a[class*="entypo-"]:before {
    top: 3px;
    left: 3px;
    font-size: 2.5rem;
    color: #333;
}
a:hover[class*="entypo-"]:before {
    color: tomato;
}
figure, figure img, figcaption {
    position: absolute;
    top: 0;
    right: 0;
}
figure {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
}
figure img {
    /*bottom: 0;
    left: 0;
    display: block;*/
    width: 100%;
    height: 100%;
    /*-webkit-transform: translateX(600px);
    -moz-transform: translateX(600px);
    -ms-transform: translateX(600px);
    -o-transform: translateX(600px);
    transform: translateX(600px);
    -webkit-transition: all .15s;
    -moz-transition: all .15s;
    -o-transition: all .15s;
    transition: all .15s;*/
}
figcaption {
    display: block;
    width: 300px;
    height: 300px;
    padding-top: 100px;
    background: transparent;
    text-align: right;
    z-index: 1;
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    -ms-transform: translateX(300px);
    -o-transform: translateX(300px);
    transform: translateX(300px);
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}
h4 {
    display: inline-block;
    padding: 0 15px;
    background: tomato;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
    font-size: 3.5em !important;
}
figcaption nav ul {
    display: inline-block;
    padding: 3px 15px;
    background: white;
}
figcaption nav ul li {
    display: inline-block;
    margin-left: 5px;
}
figcaption nav ul li a {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    text-decoration: none;
    color: white;
}
figcaption p {
    display: inline-block;
    padding: 5px 15px;
    background: white;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
    color: #333;
}
input[type="radio"]:checked + label {
    left: -17px;
    width: 75px;
    background: tomato;
}
input[type="radio"]:checked + label:before {
    font-size: 2.5rem;
    top: 15px;
    left: 28px;
}
input[type="radio"]:checked ~ figure img {
    -webkit-transform: translatex(0px);
    -moz-transform: translatex(0px);
    -ms-transform: translatex(0px);
    -o-transform: translatex(0px);
    transform: translatex(0px);
}
input[type="radio"]:checked ~ figure figcaption {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
    z-index: 8;
}
h2 {
    margin-top: 150px;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
}
h2 a {
    position: relative;
    color: tomato;
    text-decoration: none;
}
h2 a:after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 1px;
    background: tomato;
    -webkit-transition: width .1s;
    -moz-transition: width .1s;
    -o-transition: width .1s;
    transition: width .1s;
}
h2 a:hover:after {
    width: 100%;
}
html, body {
    background-color: black;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    in-width: 600px;
}
a {
    color: white;
    text-decoration: none;
}
.container-fluid {
    width: 100%;
    margin: 0 0 0 0 !important;
}
.wrapper {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    background-color: black;
    min-width: 800px !important;
}
.nav-bar-content {
    position: absolute;
    min-width: 300px;
}
.nav-bar {
    left: 0;
    top: 0;
    min-width: 300px;
}
.graphic {
    margin-left: 0 !important;
}
#title {
    min-width: 220px;
    /*top: 50%;
    left: 50%;
    transform: translate(-120px, -40px);*/
    color: white;
    z-index: 1;
    color: none;
    padding: 20%;
    /*font-size: 2.5em;*/
    font-family: "Helvetica", sans-serif;
    font-weight: 900 !important;
    line-height: 1.2 !important;
}
#title .sub-title {
    color: white;
    font-size: .5em;
}
.icons {
    padding-left: 50%;
    transform: translateX(-70px);
}
.link {
    /*position:relative;*/
    /*width: 64px;*/
    height: 64px;
    /*min-width: 64px;*/
    fill: white;
    min-width: 32px;
    /*background-color: black;*/
}
.android {
    min-width: 32px;
    background-image: url("../images/android.png");
    background-size: 32px 32px;
    background-repeat: no-repeat;
    /*background-origin: padding-box;*/
    margin-top: 20px;
    width: 64px !important;
    height: 64px;
}
#mycanvas {
    z-index: -1;
    /*width: 100%;
  height: 100%;*/
}
.work {
    position: absolute;
    color: white !important;
    font-size: 2em !important;
    /*padding-top: 20px !important;
  padding-bottom: 20px !important;*/
    /*margin: 20px;*/
    width: 200px;
    height: 50px;
    /*padding-left: 500px;*/
    top: 50%;
    left: 50%;
    z-index: 100;
    /*right: 50vw;*/
}
