@import url(http://weloveiconfonts.com/api/?family=entypo);

html, body {
  background-color: black;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  in-width: 600px;
}
a {
  color: white;
  text-decoration: none;
}
li {
  list-style:none;
  list-style-type:none;
}
#gal {
  position: absolute;
  width: 90vw;
  height: 40vw;
  padding: 15px;
  top: 50%;
  left: 50%;
  background: rgba(255, 255, 255, 0);
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.outlined {
  /*outline-style: solid;
  outline-width: 5px;
  outline-color: white;*/
  color: white;
  padding-right: 35px !important;
  margin: 30px;
  overflow-y: scroll;
  padding:0 1em 1em 0
  width: 100%;
  height: 100%;
  font-family: "Helvetica", sans-serif;
  font-weight: 900 !important;
  line-height: 1.2 !important;

}
.footer, .push {
  height: 120px;
}

.category-title {
  font-size: 50px;
  text-align: center;
}
.container-fluid {
  width: 100%;
  margin: 0 0 0 0 !important;
}
.wrapper {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  background-color: black;
  min-width: 800px !important;
}
.nav-bar-content {
  position: absolute;
  min-width: 300px;
}
.nav-bar {
  left: 0;
  top: 0;
  min-width: 300px;
}
.graphic {
  margin-left: 0 !important;
}

#title {
  min-width: 220px;
  /*top: 50%;
    left: 50%;
    transform: translate(-120px, -40px);*/
  color: white;
  z-index: 1;
  color: none;
  padding: 20%;
  /*font-size: 2.5em;*/
  font-family: "Helvetica", sans-serif;
  font-weight: 900 !important;
  line-height: 1.2 !important;
}
#title .sub-title {
  color: white;
  font-size: .5em;
}
.icons {
  padding-left: 50%;
  transform: translateX(-70px);
}
.link {
  /*position:relative;*/
  /*width: 64px;*/
  height: 64px;
  /*min-width: 64px;*/
  fill: white;
  min-width: 32px;
  /*background-color: black;*/
}
.android {
  min-width: 32px;
  background-image: url("../images/android.png");
  background-size: 32px 32px;
  background-repeat: no-repeat;
  /*background-origin: padding-box;*/
  margin-top: 20px;
  width: 64px !important;
  height: 64px;
}
#mycanvas {
  z-index: -1;
  /*width: 100%;
  height: 100%;*/
}
.work {
  position: absolute;
  color: white !important;
  font-size: 2em !important;
  /*padding-top: 20px !important;
  padding-bottom: 20px !important;*/
  /*margin: 20px;*/
  width: 200px;
  height: 50px;
  /*padding-left: 500px;*/
  top: 50%;
  left: 50%;
  z-index: 100;
  /*right: 50vw;*/
}


.btn.outline {
    background: none;
    padding: 12px 22px;
}
.btn-primary.outline {
    border: 2px solid #0099cc;
    color: #0099cc;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #33a6cc;
    border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}

/***********************
  CUSTON BTN VALUES
************************/

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
